.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.headerContainer {
    height: 15vh;
}

.listContainer {
    height: 70vh;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerContainer {
    height: 13vh;
    display: flex;
    align-items: flex-end;
}
